.header,
.wrap-header,
.alltext .unit .isclick,
.header_wrap,
.selectrule ul .isclick,
.gocolorlist span,
.footer .isclick,
.footer-right,
.loss .isclick,
.wrap_header,
.resumebtn,
.ocontent .btn,
.oheader,
.addquebtn,
.btn input,
.towaybottom ul .button #btn,
header,
/*.btn,*/
.header-wrap,
.btn_zf,
.nodatabtn .btn,
.index_header,
.userheader,
.end .btn input,
.details_right .btn .reg,
.affirm input,
.btn.isclick,
.weui-tabbar-btn,
.confirmbox .resumebtn,
.foot .btn,
/*.foottab ul li dl dt .dtbg,*/
.moneybox .confirmimg,
#loginDiv .details_left img,
.content .weui-media-box .headimg,
div.bar-na,
/*.notice .isclick,*/
#wx_1,
#layout .header_wrap,
.selectorcontent span img,
.first-one #sk_fz_1,
.buttom,
.main-all div:nth-of-type(1),
.main-all h5:before,
.yellow,
.footergg,
#sk_fz_2,
.listoper1,
.longbtn,
.searbtn,
.chose-class span.on,
.details,
.periodsmax ul li span:nth-of-type(2) div,
.spansAll,
.hong
{
	/*#da223d红*/
	/*background-color: #E53333;*/
	/*background-color: green;*/
	/*background-color: #349635;*//*绿*/
    background: linear-gradient(90deg, #fa3956, #ff6b52);
}

.ocontent .func a,.ocontent h1,.detailtext .texttop span,.weui-dialog .weui-dialog__btn.primary,
.content .logout input,.liright span,.pitch,.list #canvas,.notice #lawSpan,.moneytext p:last-child span,
.bb-num span:nth-of-type(2),.loginbtn,
.btn .butt:last-child,.ok,.weui-dialog .weui-dialog__btn.primary,.setpassword input:nth-of-type(2){
	/*color: #E53333;*/
	/*color: green;*/
	/*color:#349635;*/
	color:#fa3956 ;
}
/*.ball span{
		color:#fa3956!important;
}*/
.details_right .btn input,.list .copy,.details-con-list #copy,.loginbtn,.color_speciesul .ons{
	/*border: 0.1rem solid  #E53333;
	color:  #E53333;*/
	/*border:1px solid green;
	color:green;*/
	/*border: 0.1rem solid  #349635;
	color:  #349635;*/
	border:0.01rem solid #ff6b52;
}
.text .sort{
	border: 0.06rem solid #ff6b52;
}

.trend_nav a.on,.weui-navbar__item.weui-bar__item--on,.list .copy,.details-con-list #copy,.towaytop ul .liborder,.navlist li.isclick,.gamelisttab ul .onpitch,.gamelisttab ul .active,.nav ul .isclick{
	color: #fa3956;
	border-bottom: 1px solid #ff6b52;
}
.color_speciesul li.on{
	border:1px solid #ff6b52;
}

.number_Kj li.on,.ball span.isclick,.number_Kj .ons1,.ons3{
	background: linear-gradient(90deg, #fa3956, #ff6b52);
	color: white;
}
.moneylist li .clickli,.on .atype span,.userbtn{
	border: 1px solid #ff6b52;
	color: #ff6b52!important;
}
.trend_nav a.on{
	border-bottom: 2px solid #ff6b52;
}
.ons3{
	background: linear-gradient(90deg, #fa3956, #ff6b52);
	/*background: radial-gradient(#fa3956, #fa3956);*/
}
.foottab ul li dl dt .dtbg,.notice .isclick{
    background-color: #fa3956;	
}
.towaytop ul .liborder,.nav ul .isclick,.weui-navbar__item.weui-bar__item--on{
	border-bottom:2px solid #ff6b52;
}
.on{
	color: #ff6b52 !important;
    border-bottom: 3px solid #ff6b52;
}
/*//冲突   不需要更改*/
.notlogin .btn,.notlogin .loginbtn{background: none;}
.list .liright span{color: #111;}
.rechargeselect .liright span{color: #111;}
.ocontent-wrap .ocontent .btn{
	border-radius: 5px;
}
body{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.foot #qk{
	background: linear-gradient(90deg, #eee, #eee);
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400!important;
	/*color: white!important;*/
}
.confirmbox .confirmtit{
	color:#fa3956 !important;
}
.drawtext-top h4{
	color:#111 !important;
}
.listoper2{
	background:rgba(204,204,204,1);
}
.pitch{
	color: #111;
}
.ball span.isclick,.selectrule ul .isclick{border:none;}
.weui-tab__bd-item .atype-chose .on,.count-box .on,.weui-cell__bd .on{
	border-bottom:none;
}
.periodsmax .xglhc li .lhchm div{
	 background: none;
}
