html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
}
#layout{
	width: 100%;
	height: 100%;
}

.header{
	background: #2d9136;
	height: 4.4rem;
	position: relative;
}
.header .goback{
	position: absolute;
}
.header h2{
	margin: 0 auto;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	color: #fff;
}

/*banner*/
.banner{
	width: 100%;
	height: 19.8rem;
}
.banner img{
	width: 100%;
	height: 100%;
}

/*ttextarea*/
.textcontent{
	width: 96%;
	margin: 0 auto;
}
.textcontent p{
	line-height: 1.6rem;	
	margin-top: 0.9rem;
	font-size: 1.4rem;
	color: #8b8b8b;
}

.textcontent h3{
	height: 2.5rem;
	line-height: 2.5rem;
}
