
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
}
#layout{
	width: 100%;
	height: 100%;
}
.header_wrap{
	width: 100%;
}
.header{
	/*background: url(/source/imgs/images/titlebg.png) no-repeat 0 0/100% 100%;*/
	height: 4.4rem;
	position: relative;
}

.header h2{
	margin: 0 auto;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.8rem;
}
.header .set{
	position: absolute;
	left: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}
.header .set i{
	font-size: 2.4rem;
}
/*主内容区*/
.content{}
.game_wrap{
	position: relative;
	height: 4.4rem;
	z-index: 200;
}
.gamelisttab{
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.gamelisttab ul{
	background: #fff;
	width: 600%;
}
.gamelisttab ul li{
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	border-bottom: 0.2rem solid transparent;
	box-sizing: border-box;
	color: #a0a0a0;
	width: 4.4%;
	float: left;
}
.gamelisttab ul .onpitch{
	color: green;
	border-bottom: 0.2rem solid green;
}

.game{
	background: #fcefe5;
}

.gamerule{
	height: 3rem;
	display: flex;
	line-height: 3rem;
	width: 94%;
	margin: 1rem auto 0;
}
.ruleleft,.rulecontent,.ruleright{
	width: 33.33333%;
}
.rulecontent {}
.ruleright{
	text-align: right;
}
.gamerule span{
	font-size: 1.4rem;
	font-weight: 600;
}


/*游戏详情列表*/


.gamerulelist{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.ruletitle-wrap{
	width: 100%;
}
.ruletitle{
	width: 94%;
	margin: 0 auto;
	height: 2.2rem;
	line-height: 2.2rem;
	display: flex;
	justify-content: space-between;
	color: #d91e38;
}
.ruletitle>span span{
	margin-left: 1rem;
}
.gamerulelist ul{
	background: #fff;
}
.gamerulelist ul li{
	height:3.2rem ;
	border-bottom: 0.1rem solid #f5f5f5;
}
.gamerulelist ul li .gamedata{
	width: 94%;
	height: 3.2rem;
	margin: 0 auto;
	line-height: 3.2rem;
	display: flex;
	justify-content: space-between;
}
.gamedata>span span{
	margin-left: 1rem;
}




