
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
	/*background: #f5f5f5;*/
}
#layout{
	width: 100%;
	height: 100%;
}
.header_wrap{
	width: 100%;
	/*background: url(/source/imgs/images/titlebg.png) no-repeat 0 0/100% 100%;*/
}
.header{
	height: 4.4rem;
	position: relative;
}

.header h2{
	margin: 0 auto;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.8rem;
}
.header .set{
	position: absolute;
	left: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
}
.header .set i{
	font-size: 2.4rem;
}
/*主内容区*/
.content{}
.password-wrap{
	width: 94%;
	margin: 0 auto;
}
.oldpassword,.newpassword{
	width: 100%;
	height: 4.4rem;
	line-height: 4.4rem;
	background: #fff;
	border: 0.1rem solid #eee;
	border-radius: 0.4rem;
	margin-top: 1.4rem;
	text-indent: 1.4rem;
	font-size: 1.6rem;
	color: #666;
}

.password-wrap input{
	width: 4rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	border: 0.1rem solid #d9d9d9;
	background: #f5f5f5;
	margin-left: 0.8rem;
	border-radius: 0;
	font-size: 1.6rem;
}

.password-wrap p{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #999;
    line-height: 1.5rem;
}
.btn{}
.btn input{
	display: block;
	height: 4rem;
	border-radius: 0.45rem;
	color: #fff;
	font-size: 1.6rem;
	line-height: 4rem;
	text-align: center;
	width: 74%;
	background: #2b9037;
	margin: 1.6rem auto 0;
}

/*弹出窗口*/
.weui-prompt-input {
    margin: 1rem 0;
    /* border: 0.1rem solid #d9d9d9; */
    padding: 0.5rem 0;
    text-indent: 1rem;
    box-sizing: content-box;
    background-color: #eee;
    border-radius: 3px;
    font-size: 12px;
}
.weui-dialog .weui-dialog__btn.primary {
    color:green;
}