::-webkit-input-placeholder{color:#999;}
input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
html {
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	overflow-x: hidden;
}
/*选中样式*/

#layout {
	width: 100%;
	height: 100%;
}

.header_wrap {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 300;
	/*background: url(/source/imgs/images/titlebg.png) no-repeat 0 0/100% 100%;*/
}

.header {
	height: 4.4rem;
	position: relative;
}

.header .set {
	color: #fff;
	line-height: 4.4rem;
	position: absolute;
	left: 1.5rem;
}

.header .set i {
	font-size: 2.4rem;
}

.header h2 {
	flex: 1;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.6rem;
}

.ocontent{
	margin-top: 4.4rem;
	overflow: hidden;
}

.rechange{
	width: 76%;
	margin: 2.9rem auto 0;
	display: flex;
}
.rechange-left{
	width: 3rem;
	height: 17.2rem;
	margin-right: 1.2rem;
}

.rechange-left img{
	width: 100%;
	height: 100%;
}

.rechange-right{
	flex: 1;
}

.textchange{
	margin-top: 4rem;
}
.textchange:first-child{
	margin-top: 0;
}
.textchange:last-child{
	margin-top: 4rem;
}
.textchange h3{
	line-height: 1.8rem;
	font-size: 1.4rem;
	font-weight: 500;
}
.textchange p{
	color: #929292;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.btn{
	margin-top: 3rem;
}
.btn input{
	display: block;
	width: 64%;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
	color: #fff;
	background: #2b9037;
	margin: 0 auto;
	border-radius: 0.45rem;
	font-size: 1.6rem;
}
